.cart{
    color: white;
    text-align:right;
}
.barra{
    display: flex;
    justify-content: space-evenly;
}
.itemsDiv{
    
    justify-items: center;
    text-align: center;
    
}
.buttons{
    height:50px;
    width:100px;
    background-color:#5fa8d3;
    font-size: 30px;
    justify-content:center;
    align-items:center;
    font-weight: bold;
}

.agregar{
    width: 200px;  
    height:50px;
    color: #5fa8d3;
    font-size: 20px;
    justify-content:center;
    align-items:center;
    font-weight: bold;
    text-align: center;
}
